<!doctype html>
<html lang="{{ lang | default('pl') }}">
  <head>
    {% include "components/head.html" %}
  </head>
  <body
    class="{{ bodyClass | default('min-h-screen') }} {% if showSiteChrome != false and headerOffset != false %}has-site-header{% endif %}"
  >
    {% if showSiteChrome != false %} {% include "components/site-header.html" %}
    {% endif %} {{ content | safe }} {% include "components/contact-modal.html"
    %} {% include "components/cookie-consent.html" %} {% if showSiteChrome !=
    false %} {% include "components/site-footer.html" %} {% endif %}

    <script type="module" src="/assets/js/main.js"></script>
  </body>
</html>
